@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Devparty", Helvetica, Arial, sans-serif !important;

  @apply bg-gray-50;
}

.link {
  @apply text-blue-500 hover:text-blue-600;
}

.home-bg {
  background-image: linear-gradient(90deg, #513eff 0%, #52e5ff 100%);
}
